body{
    font-family: 'Nunito Sans', sans-serif;
}

.title__main, .title__forms{
    font-family: 'Pacifico', cursive;
    color: #771394;
}
.title__forms{
    text-align: center;
    margin-top: 40px;
}

.navbar{
    background-color: #ffa8f9;
}
.nav-item:hover {
    color: #A019C7;
}
.nav-item{
    color: #3B3437;
}

.title{ 
    font-family: 'Pacifico', cursive;
    font-size: 120px;
    color: #771394;
    justify-content: flex-end;
}

.tela__inicial{
    background-color: #ffa8f9;
    background-image: linear-gradient(180deg, #ffa8f9 25%, #ffffff 100%);
    margin-bottom: 15px;
}

.container__telainicial{
    display: flex;
}

.btn-teste {
    color: #D4146B;
    border-color: #D4146B;
}
.redes_sociais:hover{
    transform: scale(1.2);
}
.container__redes_sociais{
    justify-content: center;
}


.button__form{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.footer{
    background-color: #3A0947;
    padding: 10px;
    color: white;
}

.footer p{
    margin-top: 10px;
    text-align: center
}