body{
    font-family: 'Nunito Sans', sans-serif;
}

.title__main, .title__forms{
    font-family: 'Pacifico', cursive;
    color: #771394;
}
.title__forms{
    text-align: center;
    margin-top: 40px;
}
.subtitle{
    text-align: end;
}

.navbar{
    background-color: #ffa8f9;
}
.nav-item:hover {
    color: #A019C7;
}
.nav-item{
    color: #3B3437;
}

.title{ 
    font-family: 'Pacifico', cursive;
    font-size: 120px;
    color: #771394;
    justify-content: flex-end;
}

.tela__inicial{
    background-color: #ffa8f9;
    background-image: linear-gradient(180deg, #ffa8f9 25%, #ffffff 100%);
    margin-bottom: 15px;
}

.container__telainicial{
    display: flex;
}

.btn-teste {
    color: #D4146B;
    border-color: #D4146B;
}
.redes_sociais:hover{
    transform: scale(1.2);
}
.container__redes_sociais{
    justify-content: center;
}

.button__form{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.imagem__perfil{
    height: 250px;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    margin: 0 auto;
    display: flex;
}
.idealiadora{
    background-color: #ffa8f9;
}

.container__idealizadora{
    align-items: center
}

.footer{
    background-color: #3A0947;
    padding: 10px;
    color: white;
    margin-top: 30px;
}

.footer p{
    margin-top: 10px;
    text-align: center
}
